.card {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
}
.card img {
    border-radius: 5px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    height: 2.5rem; 
    font-size: 0.875rem; 
    font-weight: 500; 
    border-radius: 0.375rem;
    background-color: rgb(9, 9, 11);
    color: rgb(250, 250, 250);
    cursor: pointer;
    white-space: nowrap;
    border: none;
  }